@import "swagger-ui-react/swagger-ui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.swagger-container {
  background: #ffffff;
  color: #3b4151;
  min-height: 100vh;
}

.swagger-container .swagger-ui {
  color: #3b4151;
}

.swagger-container .swagger-ui .info .title {
  color: #3b4151;
}

.swagger-container .swagger-ui .opblock-tag {
  color: #3b4151;
}

.swagger-container .swagger-ui .opblock-summary-description {
  color: #3b4151;
}

.swagger-container .swagger-ui table thead tr td,
.swagger-container .swagger-ui table thead tr th {
  color: #3b4151;
}

.swagger-container .swagger-ui .response-col_status {
  color: #3b4151;
}

.swagger-container .swagger-ui .response-col_description {
  color: #3b4151;
}

.swagger-container .swagger-ui label {
  color: #3b4151;
}

.swagger-container .swagger-ui input,
.swagger-container .swagger-ui textarea,
.swagger-container .swagger-ui select {
  color: #3b4151;
  background: #ffffff;
}